In [101]:
import sklearn
import numpy as np
import pandas as pd

In [102]:
data=pd.read_csv('ntyre _quality.csv')

In [103]:
data

,Tyre_Brand,Section_width \n,Width_ tread \n,Outer_ diameter \n,Machine_Speed,Performance_Rating
0,YOKOHAMA,7.9,6.8,24.2,73,91.90
1,SUMITOMO,7.9,6.9,25.0,25,92.79
2,DUNLOP,7.9,6.6,24.8,53,93.12
3,BRIDGESTONE,8.2,7.0,24.6,109,93.01
4,YOKOHAMA,8.2,7.1,25.4,63,94.10
...,...,...,...,...,...,...
2321,BST,8.7,6.8,26.1,43,94.77
2322,BST,8.7,6.8,26.1,35,94.97
2323,BST,7.9,6.8,24.0,158,92.35
2324,MAXXISS,7.9,6.9,25.0,50,92.79
2325,MAXXISS,7.9,6.5,24.8,39,93.12

In [104]:
data.columns=['Tyre_Brand', 'Section_width', 'Width_tread',
       'Outer_diameter', 'Machine_Speed', 'Performance_Rating']

In [105]:
x=data[['Section_width','Width_tread','Outer_diameter','Machine_Speed']]
y=data['Performance_Rating']

In [106]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=.70,random_state=1)

In [109]:
model.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [115]:
import pickle
with open('tyre_quality.pkl','wb') as f:
    pickle.dump(model,f)

In [111]:
model.score(xtest,ytest)

0.8266848092148872